image: debian:trixie-slim

# Note: You can test changes to this file locally with:
# gitlab-runner exec docker --docker-privileged build

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  JDK_PACKAGE: "openjdk-25-jdk"

before_script:
  - echo $GRADLE_OPTS
  - apt-get update
  - apt-get -y upgrade
  - apt-get -y install wget apt-transport-https gnupg curl binutils rpm fakeroot
  - apt-get -y install $JDK_PACKAGE
  - java -version

build:
  script:
    - ./gradlew -PbaseModuleJavaCompatibility=8 buildCI buildJPackages --scan --info --stacktrace
  artifacts:
    paths:
      - supernautfx/build/libs
      - supernautfx-hello/build/libs

