name: Gradle Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        java: [ '14' ]
      fail-fast: false
    name: ${{ matrix.os }} JDK ${{ matrix.java }}
    steps:
    - name: Git checkout
      uses: actions/checkout@v1
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Verify Gradle Wrapper
      uses: gradle/wrapper-validation-action@v1
    - name: Build with Gradle
      run: ./gradlew -D"download.jpackage"=true buildJPackages --scan --info --stacktrace
    - name: Upload jpackage directory as artifact
      uses: actions/upload-artifact@master
      with:
        name: supernautfx-hello-jdk${{ matrix.java }}-${{ matrix.os }}-jpackage
        path: supernautfx-hello/build/jpackage
